@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,700;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
    --font-playfair: "Playfair Display", serif;
    --font-poppins: "Poppins", sans-serif;

    /* cores personalizadas */
    --color-white-coffee: #E2D9C8;
}